OPENAI_API_KEY=sk........

NEO4J_USER=neo4j
NEO4J_PASS=

GITHUB_USERNAME=
GITHUB_TOKEN=ghp_.......

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8000/callback

LASTFM_API_KEY=
LASTFM_SHARED_SECRET=
