python-dotenv==1.2.2
neo4j==6.2.0
openai==2.37.0

spotipy==2.26.0   # for spotify
pynput==1.8.2     # for keyboard logging
pyobjc==12.1      # needed by pynput(some frameworks)

rumps==0.4.0      # for frontend , wraps: AppKit, Cocoa, ObjC API
